<div class="frctl-doc-block o-grid">
  <div class="frctl-doc-block__content o-col-10">
    <h2>Basic Usage</h2>
    <p>Use the <code>o-grid</code> class on the wrapping parent. Then use <code>o-col-[columnSize]</code> on internal elements to take up different column widths:</p>
  </div>
</div>

<div class="frctl-grid-demo">
  <div class="o-grid">
    <div class="o-col-12 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
  </div>
  <div class="o-grid">
    <div class="o-col-11 fractal-parent"><code  class="fractal-code fractal-parent-get-classes"></code></div>
  </div>
  <div class="o-grid">
    <div class="o-col-10 fractal-parent"><code  class="fractal-code fractal-parent-get-classes"></code></div>
  </div>
  <div class="o-grid">
    <div class="o-col-9 fractal-parent"><code  class="fractal-code fractal-parent-get-classes"></code></div>
  </div>
  <div class="o-grid">
    <div class="o-col-8 fractal-parent"><code  class="fractal-code fractal-parent-get-classes"></code></div>
  </div>
  <div class="o-grid">
    <div class="o-col-7 fractal-parent"><code  class="fractal-code fractal-parent-get-classes"></code></div>
  </div>
  <div class="o-grid">
    <div class="o-col-6 fractal-parent"><code  class="fractal-code fractal-parent-get-classes"></code></div>
  </div>
  <div class="o-grid">
    <div class="o-col-5 fractal-parent"><code  class="fractal-code fractal-parent-get-classes"></code></div>
  </div>
  <div class="o-grid">
    <div class="o-col-4 fractal-parent"><code  class="fractal-code fractal-parent-get-classes"></code></div>
  </div>
  <div class="o-grid">
    <div class="o-col-3 fractal-parent"><code  class="fractal-code fractal-parent-get-classes"></code></div>
  </div>
  <div class="o-grid">
    <div class="o-col-2 fractal-parent"><code  class="fractal-code fractal-parent-get-classes"></code></div>
  </div>
  <div class="o-grid">
    <div class="o-col-1 fractal-parent"><code  class="fractal-code fractal-parent-get-classes"></code></div>
  </div>
  <div class="o-grid">
  </div>
</div>


<div class="frctl-doc-block o-grid">
  <div class="frctl-doc-block__content o-col-10">
    <h2>Wrapping columns</h2>
    <p>Columns will wrap, so make sure </p>
  </div>
</div>

<div class="frctl-grid-demo">
  <div class="o-grid">
    <div class="o-col-12 o-col-sm-4 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-4 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-4 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-6 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-6 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-6 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-6 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
  </div>
</div>


<div class="frctl-doc-block o-grid">
  <div class="frctl-doc-block__content o-col-10">
    <h2>Edge to Edge Backgrounds</h2>
    <p>Basic Grid uses padding for edge margins, so background colors can be applied and will run edge to edge.</p>
  </div>
</div>

<div class="frctl-grid-demo">
  <div class="o-grid" style="padding-top: 30px; padding-bottom: 30px; background-color: #000">
    <div class="o-col-12 o-col-sm-4 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-4 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-4 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-6 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-6 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-6 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-6 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-6 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
  </div>
</div>


<div class="frctl-doc-block o-grid">
  <div class="frctl-doc-block__content o-col-10">
    <h2>Responsive columns</h2>
    <p>Column sizes can change based on class name. For each breakpoint name and size added to the <code>$column_breakpoints</code> map variable, a column class with that name and width will be avaiable.</p>
    <p>Example:</p>
    <pre><code>$column_breakpoints: (
  sm: 600px,
  md: 800px,
  lg: 1000px
);</code></pre>
    <p>This map allows for column classes <code>o-col-sm-[columnSize]</code>, <code>o-col-md-[columnSize]</code>, <code>o-col-ld-[columnSize]</code><p>
  </div>
</div>

<div class="frctl-grid-demo">
  <div class="o-grid">
    <div class="o-col-12 o-col-sm-4 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-4 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-4 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
  </div>

  <div class="o-grid">
    <div class="o-col-12 o-col-sm-6 o-col-md-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-6 o-col-md-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-6 o-col-md-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-6 o-col-md-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
  </div>
</div>


<div class="frctl-doc-block o-grid">
  <div class="frctl-doc-block__content o-col-10">
    <h2>Offsetting columns</h2>
    <p>Column off sets can be controlled via the <code>o-col-start-[columnStart]</code> class.</p>
    <p>Similar to responsive column classes, offset classes can also be used based according to the <code>$column_breakpoints</code> map variable, with the breakpoint size being before the columnStart value: <code>o-col-start-[breakpoint]-[columnStart]</code></p>
  </div>
</div>

<div class="frctl-grid-demo">
  <div class="o-grid">
    <div class="o-col-10 o-col-start-2 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-6 o-col-start-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-2 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
  </div>

  <div class="o-grid">
    <div class="o-col-12 o-col-sm-6 o-col-md-3 o-col-start-md-4 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-12 o-col-sm-6 o-col-md-3 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
  </div>

  <div class="o-grid">
    <div class="o-col-12 o-col-sm-6 o-col-start-md-6 fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
  </div>
</div>

<div class="frctl-doc-block o-grid">
  <div class="frctl-doc-block__content o-col-10">
    <h2>Resetting column offsets</h2>
    <p>Column offsets can be reset via the <code>o-col-start-reset</code> class, which is also available as <code>o-col-start-reset-[breakpoint]</code>, matching key names from <code>$column_breakpoints</code>.</p>
  </div>
</div>

<div class="frctl-grid-demo">
  <div class="o-grid">
    <div class="o-col-8 o-col-start-3 o-col-md-4 o-col-start-reset-md fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-8 o-col-start-3 o-col-md-4 o-col-start-reset-md fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
    <div class="o-col-8 o-col-start-3 o-col-md-4 o-col-start-reset-md fractal-parent"><code class="fractal-code fractal-parent-get-classes"></code></div>
  </div>
</div>

<div class="frctl-doc-block o-grid">
  <div class="frctl-doc-block__content o-col-10">
    <h2>No Gap Grid</h2>
    <p>Add the <code>o-grid--no-gap</code> class to set the native grid <code>gap</code> selector to zero.</p>
    <p>This class removes the gap from the grid, and adds padding to the columns. This allows the columns to have edge to edge color, but keep content inline with the grid.</p>
  </div>
</div>

<div class="frctl-grid-demo frctl-grid-demo--no-gap">
  <div class="o-grid" style="margin-bottom: 50px;">
    <div class="o-col-12"><code class="fractal-code">.o-grid wrapper</code></div>
    <div class="o-col-12 o-col-sm-4 fractal-parent"><div class="frctl-grid-demo__inner-content"><code class="fractal-code fractal-parent-get-classes"></code></div></div>
    <div class="o-col-12 o-col-sm-4 fractal-parent"><div class="frctl-grid-demo__inner-content"><code class="fractal-code fractal-parent-get-classes"></code></div></div>
    <div class="o-col-12 o-col-sm-4 fractal-parent"><div class="frctl-grid-demo__inner-content"><code class="fractal-code fractal-parent-get-classes"></code></div></div>
  </div>
  <div class="o-grid o-grid--no-gap">
    <div class="o-col-12"><code class="fractal-code">.o-grid.o-grid--no-gap wrapper</code></div>
    <div class="o-col-12 o-col-sm-4 fractal-parent"><div class="frctl-grid-demo__inner-content"><code class="fractal-code fractal-parent-get-classes"></code></div></div>
    <div class="o-col-12 o-col-sm-4 fractal-parent" style="background: #E5CD73 !important"><div class="frctl-grid-demo__inner-content"><code class="fractal-code fractal-parent-get-classes"></code></div></div>
    <div class="o-col-12 o-col-sm-4 fractal-parent"><div class="frctl-grid-demo__inner-content"><code class="fractal-code fractal-parent-get-classes"></code></div></div>
  </div>
</div>

