<div class="frctl-grid-demo">
  <div class="o-grid" style="margin-bottom: 50px;">
    <div class="o-col-12"><code class="fractal-code">.o-grid</code></div>
    <div class="o-col-12 o-col-sm-4 fractal-parent"><div class="frctl-grid-demo__inner-content"><code class="fractal-code fractal-parent-get-classes"></code></div></div>
    <div class="o-col-12 o-col-sm-4 fractal-parent"><div class="frctl-grid-demo__inner-content"><code class="fractal-code fractal-parent-get-classes"></code></div></div>
    <div class="o-col-12 o-col-sm-4 fractal-parent"><div class="frctl-grid-demo__inner-content"><code class="fractal-code fractal-parent-get-classes"></code></div></div>
  </div>
  <div class="o-bleed-grid" style="margin-bottom: 50px;">
    <div class="o-col-12 o-col-start-2"><code class="fractal-code">.o-bleed-grid</code></div>
    <div class="o-col-12 o-col-start-2 o-col-sm-4 o-col-start-sm-2 fractal-parent"><div class="frctl-grid-demo__inner-content"><code class="fractal-code fractal-parent-get-classes"></code></div></div>
    <div class="o-col-12 o-col-start-2 o-col-sm-4 o-col-start-reset-sm fractal-parent"><div class="frctl-grid-demo__inner-content"><code class="fractal-code fractal-parent-get-classes"></code></div></div>
    <div class="o-col-12 o-col-start-2 o-col-sm-4 o-col-start-reset-sm fractal-parent"><div class="frctl-grid-demo__inner-content"><code class="fractal-code fractal-parent-get-classes"></code></div></div>
  </div>
</div>