/********************************************
  Full Width Grid with Bleed
*********************************************/
.o-bleed-grid {
  display: grid;
  gap: 0 $grid-mobile-gutter;
  grid-template-columns:
    [bleed-start]
    calc($grid-mobile-margin - $grid-mobile-gutter)
    [main-start]
    repeat(5, 1fr)
    [main-end]
    calc($grid-mobile-margin - $grid-mobile-gutter)
    [bleed-end];

  @media screen and (min-width: $grid-breakpoint-standard) {
    grid-template-columns:
      [bleed-start]
      calc($grid-margin - $grid-gutter)
      [main-start]
      repeat(12, 1fr)
      [main-end]
      calc($grid-margin - $grid-gutter)
      [bleed-end];
  }

  @media screen and (min-width: $grid-breakpoint-bleed-max) {
    grid-template-columns:
      [bleed-start]
      calc((100vw - ($content-max-width + ($grid-gutter * 2))) / 2)
      [main-start]
      repeat(12, 1fr)
      [main-end]
      calc((100vw - ($content-max-width + ($grid-gutter * 2))) / 2)
      [bleed-end];
  }
}